@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

.flex{
    display: flex;
 
}
.size{
    width: 582px;
    height: 320px;
}
.flex img{
    width: 440px;
    height: 414px;
}
.main{
    padding left: 65px;
}
.align{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.popular-collection{
    background-color: white;
    width: 329px;
    height: 476px;
   padding-top: 25px;
}


.popular-collection .details img{
    width: 300px;
    height: 256px;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
font-size: 16px;
}
.fa-star.filed{
    color: darkorange;

}
.fa-star.empty{
    color: rgb(92, 38, 38);

}